*
  cursor: default

body
  background-image: image-url('groovepaper.png')
  font-family: 'Yanone Kaffeesatz', sans-serif
  width: 1000px
  margin: 0 auto
  -webkit-font-smoothing: antialiased

  & > header > h1
    font-size: 48px

a, a *, button, input[type='button'], input[type='file']
  cursor: pointer

a
  color: #439aab
  text-decoration: none

a:hover
  color: #a9d5de
  text-decoration: underline

input[type='text']
  cursor: text

section
  padding-bottom: 60px

  & > header
    padding-bottom: 20px

    h1
      margin: 0

    h2
      color: #666
      font-size: 18px
      font-weight: normal
      margin: 0
      padding-left: 10px

#last_segment
  div.summary
    display: inline-block
    padding-left: 40px
    padding-bottom: 20px
    width: 450px

    h2
      color: #ccc
      font-size: 20px
      font-weight: normal
      margin: 0
      text-transform: uppercase

    p
      display: inline-block
      font-size: 36px
      margin: -10px 0 0 -10px
      padding-left: 60px
      width: 140px

      abbr
        color: #666
        font-size: 20px
        font-weight: normal

    .sparkline
      display: inline-block

      canvas
        margin-top: -18px

.read-more
  text-align: center

#recent_segments
  table
    width: 100%

    thead th
      padding-bottom: 6px

    tbody
      tr
        &:nth-child(odd)
          background-color: #eee

        td
          padding: 6px 15px

          &:first-child
            color: #666

          &.numeric
            text-align: right

          abbr
            color: #666

nav
  float: right
  margin-top: -75px

  li
    display: block
    float: left
    padding-left: 20px

.segments.show
  .start-time
    text-align: right
    padding-bottom: 40px

  section
    padding-bottom: 10px

    header h1
      color: #ccc
      display: inline-block

      &:hover
        color: #000
        cursor: pointer

    &.active
      header h1
        color: #000

      dl
        display: block

    dl
      display: none
      width: 150px

      dt
        color: #ccc
        font-size: 20px
        font-weight: normal
        margin: 0
        text-transform: uppercase

      dd
        padding-bottom: 16px
        text-align: right
