<thead>
  <tr>
    <th>Best Ride</th>
    <th>Best Year</th>
    <th>Best Month</th>
    <th>Best Week</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      {{metersToMiles best_segment_distance}}
      <abbr title="miles">mi</abbr>
    </td>
    <td>
      {{metersToMiles best_year_distance}}
      <abbr title="miles">mi</abbr>
    </td>
    <td>
      {{metersToMiles best_month_distance}}
      <abbr title="miles">mi</abbr>
    </td>
    <td>
      {{metersToMiles best_week_distance}}
      <abbr title="miles">mi</abbr>
    </td>
  </tr>
</tbody>
