<div class="upload"></div>

<ul class="tabs">
  <li class="active">
    <a href="#" rel="distance" title="Distance">Distance</a>
  </li>
  <li>
    <a href="#" rel="duration" title="Duration">Duration</a>
  </li>
</ul>

<div class="totals"></div>
<div class="records"></div>
<div id="chart" class="chart"></div>

<ul class="pills">
  <li class="active">
    <a href="#" rel="month" title="Month">Month</a>
  </li>
  <li>
    <a href="#" rel="year" title="Year">Year</a>
  </li>
</ul>

<div class="segments"></div>
