<thead>
  <tr>
    <th>Best Ride</th>
    <th>Best Year</th>
    <th>Best Month</th>
    <th>Best Week</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      {{formatTime best_segment_duration}}</dd>
    </td>
    <td>
      {{formatTime best_year_duration}}
    </td>
    <td>
      {{formatTime best_month_duration}}
    </td>
    <td>
      {{formatTime best_week_duration}}
    </td>
  </tr>
</tbody>
