<thead>
  <tr>
    <th>Rides This Year</th>
    <th>Time This Year</th>
    <th>Time This Month</th>
    <th>Time This Week</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{segment_count}}</td>
    <td>
      {{formatTime year_duration}}
    </td>
    <td>
      {{formatTime month_duration}}
    </td>
    <td>
      {{formatTime week_duration}}
    </td>
  </tr>
</tbody>
