<form class="file-upload" action="/uploads" method="post" enctype="multipart/form-data">
  <fieldset>
    <input name="file" type="file">
    <input class="btn primary" type="submit" value="Upload">
    <div class="instructions">Select a file to upload.</div>
    <div class="uploading-message">Uploading your file. Please wait...</div>
    <div class="response-message"></div>
  </fieldset>
</form>
