<table>
  <thead>
    <tr>
      <th>Rides This Year</th>
      <th>Distance This Year</th>
      <th>Distance This Month</th>
      <th>Distance This Week</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{segments_this_year}}</td>
      <td>{{metersToMiles distance_this_year}}</td>
      <td>{{metersToMiles distance_this_month}}</td>
      <td>{{metersToMiles distance_this_week}}</td>
    </tr>
  </tbody>
</table>
