<table>
  <thead>
    <tr>
      <th>Rides This Year</th>
      <th>Distance This Year</th>
      <th>Distance This Month</th>
      <th>Distance This Week</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{segment_count}}</td>
      <td>{{metersToMiles year_distance}}</td>
      <td>{{metersToMiles month_distance}}</td>
      <td>{{metersToMiles week_distance}}</td>
    </tr>
  </tbody>
</table>
