<td>{{formatLongTime epoch_start_time}}</td>
<td class="name">
  <p>{{name}}</p>
  <input type="text" value="{{name}}">
</td>
<td>
  {{metersToMiles distance}}
  <abbr title='miles'>mi</abbr>
</td>
<td class="links">
  <a href="#" rel="view" title="View">View</a>
  <a href="#" rel="edit" title="Edit">Edit</a>
</td>
